{# ntp-conf.j2 #}

driftfile /var/lib/ntp/drift

restrict default nomodify notrap nopeer noquery
restrict 127.0.0.1
restrict ::1
{% if host_servidor_de_tiempo is not defined or ansible_hostname == host_servidor_de_tiempo %}
restrict 192.168.1.0 mask 255.255.255.0 nomodify notrap
{% endif %}

{% if host_servidor_de_tiempo is not defined or ansible_hostname == host_servidor_de_tiempo %}
{% for servidor in servidores_ntp %}
server {{ servidor }} iburst
{% endfor %}
{% else %}
server {{ hostvars['servidor-ntp']['ansible_eth0']['ipv4']['address'] }} iburst
{% endif %}

includefile /etc/ntp/crypto/pw

keys /etc/ntp/keys

disable monitor

